
.spin-login {
    position: absolute;
    z-index: 999;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    display: flex;
    
    .ant-spin {
        position: absolute;
        left: 0;right: 0;top: 0;bottom: 0;
        margin: auto;

        width: 100px; height: 100px;
        background: rgba(0,0,0,0.4); border-radius: 15px;

        display: flex; flex-direction: column;
        justify-content: center; align-items: center;
    }

}

.ant-layout-sider{
    .logo{
        height: 48px;
        width: 201px;
        background:url('../assets/nav-logo.jpg')no-repeat;
        background-size: cover;
        background-position: center;
    }
}